---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="hero">
      <h1>Hello, I'm <span class="text-gradient">Teoh Rui Rong</span></h1>
      <p class="description">
        A motivated Digital Media Technology student at Xiamen University Malaysia seeking an internship opportunity to apply academic knowledge and gain hands-on experience in game development using tools such as Unreal Engine and Unity, while supporting operational efficiency and innovation through practical development work.
      </p>
      
      <div class="cta-buttons">
        <a href="/resume" class="btn secondary">View Resume</a>
        <a href="/portfolio" class="btn primary">View Portfolio</a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    text-align: center;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .description {
    font-size: 1.5rem;
    color: #ffffffff;
    margin-bottom: 3rem;
  }

  .cta-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }

  .btn {
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .btn.primary {
    background: rgb(var(--accent));
    color: white;
    box-shadow: 0 4px 14px 0 rgba(var(--accent), 0.39);
  }

  .btn.primary:hover {
    background: rgba(var(--accent), 0.9);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(var(--accent), 0.23);
  }

  .btn.secondary {
    background: white;
    border: 2px solid white;
    color: rgb(var(--accent));
  }

  .btn.secondary:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
    border-color: rgba(255, 255, 255, 0.9);
  }
</style>
